/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
*   CSS RESET ABOVE
*/
.Home_Container {
    margin: 0% auto;
    padding: 0%;
    width: 90%;
}
/*
    Navigation CSS
*/
.Navigation_Container {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}
.Navigation_Container h1 {
    font-size: 3rem;
}
.Nav_Links {
    display: flex;
    padding: 1%;
    width: 30%;
    justify-content: space-between;
    background-color: rgb(78, 230, 174);
}
.Nav_Account-Settings {
    display: flex;
    padding: 1%;
    width: 10%;
    justify-content: space-between;
    background-color: rgb(78, 230, 174);
}
.Navigation_Container a {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    margin: 0% auto;
}
/*
    Form CSS 
*/
.Form_Container {
    width: 30%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.Form_Priority {
    display: flex;
    justify-content: space-around;
}
.Tasks_Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.Task_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    width: 250px;
    border: 1px solid black;
    padding: 5%;
    border-radius: 0.5rem;
}
.Task_Container-Status {
    display: flex;
    justify-content: space-around;
}
.TC-Name {
    font-size: 1.8rem;
}
.TC-Description {
    font-size: 1rem;
    border: 1px solid black;
    padding: 10%;
    border-radius: 0.5rem;
}
.TC-Priority {
    margin: 0% auto;
}
.TC-ButtonGroup {
    display: flex;
    justify-content: space-around;
}
[class*="TC-Button-"] {
    background: none;
    text-decoration: none;
    border: solid 1px black;
    color: black;
    padding: 2%;
    padding-inline: 8%;
}
