/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
*   CSS RESET ABOVE
*/
:root {
    --FontSize1: 1.5rem;
}
.App {
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    display: flex;
}

.Side_View {
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 1.2rem;
    justify-content: space-evenly;
    height: 100vh;
    border: rgb(235, 235, 235) 1px solid;
}
#Heading_Name {
    font-size: var(--FontSize1);
}
.Side_View_Nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% auto;
}
.Side_View_Nav a {
    margin-block: 5%;
}
.Reporting_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% auto;
}
.Reporting_Container p {
    margin-block: 3%;
}
.Reporting_Container a {
    margin-block: 5%;
}
#Button-Invite {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5%;
    padding-block: 5%;
    width: 80%;
    margin: 0% auto;
    border-radius: 1rem;
    border: rgb(235, 235, 235) 1px solid;
}
#Button-Invite p {
    text-align: center;
    padding-top: 1%;
    font-size: 1.1rem;
}
[id*="Title-"] {
    color: rgb(126, 126, 126);
}
#SVG {
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 23px;
    margin-right: 8%;
}
.Main_View {
    width: 100%;
}
.Main_Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.Header_Left {
    width: 100%;
}
.Header_Right {
    width: 100%;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
}
.Task_Heading {
    display: flex;
    flex-direction: column;
    margin-block: 5%;
    margin-inline: 5%;
    width: 400px;
}
.Task_Heading h2 {
    font-size: var(--FontSize1);
}
.Task_Heading button {
    width: 30px;
    height: 30px;
    margin: 0% auto;
    padding: 0%;
    background: none;
    border: none;
}
.Task_Heading-Top {
    display: flex;
    justify-content: space-between;
}
#Heading_Button-Icons {
    position: relative;
    box-sizing: border-box;
    width: 20px;
}
.Task_Heading-Bottom {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 1%;
}
#Task_Status {
    font-size: 1rem;
    color: rgb(71, 71, 71);
    padding-left: 10%;
}
[id*="Box-"] {
    width: 1.3rem;
    height: 1.3rem;
    background-color: rgb(0, 242, 0);
}
.Header_Right-Container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30px;
    margin: 0% auto;
    margin-block: 6%;
    margin-inline: 5%;
}
#Button-Share {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: none;
    border: rgb(198, 198, 198) 1px solid;
    color: rgb(126, 126, 126);
    border-radius: 0.4rem;
    width: 13%;
    text-align: center;
}
#Tag-Share {
    margin: 0% auto;
    padding-top: 7%;
}
#Search-Bar {
    width: 200px;
    border-radius: 0.3rem;
    border: 1px solid rgb(198, 198, 198);
}
#Button-Add-New {
    background-color: coral;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
#Button-Profile {
    background: none;
    border-radius: 0.8rem;
    width: 8%;
    background-color: coral;
    border: none;
}
#Icon-Profile {
    color: white;
}
.Navigation {
    display: flex;
    justify-content: space-around;
    border: grey solid 1px;
    width: 90%;
    margin: 0% auto;
    border-radius: 1rem;
    background-color: lightgrey;
}
.Navigation_Container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    text-align: center;
    margin: 0% auto;
    padding: 1%;
}
#Button-Add_Chart {
    background-color: lightblue;
    border: rgb(218, 218, 218) solid 1px;
    border-radius: 0.6rem;
    margin: 0% auto;
    width: 10%;
    font-size: 1rem;
}
#Icon-Add-Chart {
    font-size: 2rem;
    padding-inline-end: 10%;
    color: white;
}
#Tag-Add-Chart {
    font-size: 1.1rem;
    color: white;
}
